
/* Your CSS Code here. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    width: 600px;
}
table, th, td{
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}